In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("C:/Users/UMANG PATEL/Desktop/AIMS/Bill_Data.csv",nrows=200)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   BillNo           200 non-null    object
 1   BillQty          200 non-null    float64
 2   BillParty        91 non-null     object
 3   BillDate         200 non-null    object
 4   BillProdNo       200 non-null    int64
 5   BillProdCode     200 non-null    object
 6   BillProdName     200 non-null    object
 7   BillProdPacking  0 non-null      float64
 8   BillProdBatch    0 non-null      float64
 9   BillAddTax       200 non-null    int64
 10  BillExpdate      0 non-null      float64
 11  BillMRP          0 non-null      float64
 12  BillRate         200 non-null    float64
 13  BillVat          200 non-null    int64
 14  BillAmt          200 non-null    float64
 15  BillFree         200 non-null    float64
 16  BillPTS          0 non-null      float64
 17  BillPartyType    200 non-null    object
dtypes: float64(9), int64(3), object(6)
memory usage: 28.2+ KB

In [6]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   BillNo           200 non-null    object
 1   BillQty          200 non-null    float64
 2   BillParty        91 non-null     object
 3   BillDate         200 non-null    object
 4   BillProdNo       200 non-null    int64
 5   BillProdCode     200 non-null    object
 6   BillProdName     200 non-null    object
 7   BillProdPacking  0 non-null      float64
 8   BillProdBatch    0 non-null      float64
 9   BillAddTax       200 non-null    int64
 10  BillExpdate      0 non-null      float64
 11  BillMRP          0 non-null      float64
 12  BillRate         200 non-null    float64
 13  BillVat          200 non-null    int64
 14  BillAmt          200 non-null    float64
 15  BillFree         200 non-null    float64
 16  BillPTS          0 non-null      float64
 17  BillPartyType    200 non-null    object
dtypes: float64(9), int64(3), object(6)
memory usage: 91.6 KB

In [7]:
df.BillAmt.isnull().sum()

0

In [21]:
sorted(df.BillAmt.unique())

[3.4,
 3.84,
 4.27,
 4.97,
 5.0,
 5.2,
 5.78,
 5.87,
 6.0,
 6.24,
 6.28,
 6.41,
 6.55,
 6.58,
 6.66,
 6.96,
 7.36,
 7.74,
 8.09,
 8.23,
 8.59,
 8.61,
 8.96,
 9.0,
 9.2,
 9.21,
 9.3,
 9.48,
 9.72,
 9.88,
 10.0,
 10.08,
 10.2,
 10.32,
 10.52,
 10.58,
 10.84,
 11.0,
 11.04,
 11.28,
 11.3,
 11.6,
 11.64,
 12.0,
 12.5,
 12.72,
 12.88,
 12.89,
 12.94,
 13.0,
 13.32,
 13.6,
 14.4,
 14.75,
 15.0,
 15.13,
 15.54,
 16.0,
 16.08,
 16.68,
 17.96,
 18.0,
 18.07,
 18.14,
 18.88,
 19.98,
 20.0,
 21.52,
 21.7,
 22.0,
 22.1,
 22.38,
 22.42,
 24.0,
 24.9,
 24.96,
 25.0,
 25.2,
 25.52,
 26.0,
 26.2,
 26.28,
 27.0,
 27.8,
 28.87,
 29.82,
 30.0,
 30.9,
 31.08,
 31.18,
 31.5,
 32.82,
 35.0,
 35.04,
 35.5,
 35.6,
 36.0,
 37.0,
 37.5,
 37.72,
 40.0,
 41.76,
 42.08,
 45.0,
 45.24,
 46.8,
 50.0,
 50.4,
 52.0,
 54.0,
 54.23,
 55.0,
 55.08,
 58.56,
 60.0,
 64.44,
 65.0,
 70.0,
 72.0,
 78.0,
 80.0,
 83.16,
 84.0,
 98.0,
 100.0,
 104.0,
 110.0,
 114.0,
 120.0,
 125.0,
 130.0,
 134.0,
 140.0,
 144.0,
 150.0,
 160.0,
 180.0,
 183.0,
 200.0,
 212.5,
 217.81,
 220.0,
 500.0,
 520.0,
 650.0]

In [60]:
df = pd.read_csv("http://bit.ly/kaggletrain")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [32]:
df.shape

(891, 12)

In [33]:
fe_cols = ['Pclass','Parch']

In [34]:
x = df.loc[:,fe_cols]

In [35]:
y = df.Survived

In [36]:
y.shape

(891,)

In [39]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()

In [40]:
lr.fit(x,y)

NameError: name 'lr' is not defined

In [41]:
lr = LogisticRegression()

In [42]:
lr.fit(x,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [43]:
test = pd.read_csv("http://bit.ly/kaggletest")

In [45]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [46]:
x_new = test.loc[:,fe_cols]

In [47]:
x_new.shape

(418, 2)

In [48]:
new_p_c = lr.predict(x_new)

In [49]:
new_p_c

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0],
      dtype=int64)

In [61]:
pd.DataFrame({'PID':test.PassengerId,'SURVIVED':new_p_c}).set_index('PID').to_csv('kaggle_survive.csv')

In [70]:
train = df.sample(frac=0.75,random_state=34)   #it is a way to distribute train and test dataset

In [71]:
test = df.loc[~df.index.isin(train.index),:]

In [29]:
df = pd.read_csv('C:\\Users\\UMANG PATEL\\Desktop\\Scikit_learn\\diamonds.csv',index_col=0)

In [47]:
# df.cut.astype('category').cat.codes
# df.cut.unique()
df.color.unique()
df.clarity.unique()

array([ 7.,  5.,  9.,  6.,  8.,  4., nan,  3.])

In [31]:
cut_class = {'Fair': 1, 'Good': 2, 'Very Good': 3, 'Premium': 4, 'Ideal': 5}
clarity_class = {'I3': 1, 'I2': 2, 'I1': 3, 'SI2': 4, 'SI1': 5, 'VS2': 6, 'VS1': 7, 'VVS2': 8, 'VVS1': 9}
color_class ={'J': 1, 'I': 2, 'H': 3, 'G': 4, 'F': 5, 'E': 6, 'D': 7}

In [32]:
df.cut = df.cut.map(cut_class)
df.clarity = df.clarity.map(clarity_class)
df.color = df.color.map(color_class)

In [33]:
df

       carat  cut  color  clarity  depth  table  price     x     y     z
1       0.23    5      6      4.0   61.5   55.0    326  3.95  3.98  2.43
2       0.21    4      6      5.0   59.8   61.0    326  3.89  3.84  2.31
3       0.23    2      6      7.0   56.9   65.0    327  4.05  4.07  2.31
4       0.29    4      2      6.0   62.4   58.0    334  4.20  4.23  2.63
5       0.31    2      1      4.0   63.3   58.0    335  4.34  4.35  2.75
...      ...  ...    ...      ...    ...    ...    ...   ...   ...   ...
53936   0.72    5      7      5.0   60.8   57.0   2757  5.75  5.76  3.50
53937   0.72    2      7      5.0   63.1   55.0   2757  5.69  5.75  3.61
53938   0.70    3      7      5.0   62.8   60.0   2757  5.66  5.68  3.56
53939   0.86    4      3      4.0   61.0   58.0   2757  6.15  6.12  3.74
53940   0.75    5      7      4.0   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [43]:
import sklearn
from sklearn import svm, preprocessing
df.isnull().sum()

carat         0
cut           0
color         0
clarity    1790
depth         0
table         0
price         0
x             0
y             0
z             0
dtype: int64

In [48]:
df = sklearn.utils.shuffle(df)
df = df.dropna()
X = df.drop('price',axis=1).values
X = preprocessing.scale(X)
y = df.price.values

test_size = 200

X_train = X[:-test_size]
y_train = y[:-test_size]

X_test = X[-test_size:]
y_test = y[-test_size:]

clf = svm.SVR(kernel='linear')
clf.fit(X_train,y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [71]:
# clf.score(X_test,y_test)
# print(clf.predict(X_test))
# print(y_test[0:8])

In [70]:
for X,y in zip(X_test,y_test):
    print(f'Model : {clf.predict([X])[0]}, Actutal: {y}')

Model : 5514.402121079773, Actutal: 5927
Model : 2239.3828340892815, Actutal: 2042
Model : 8723.976889112719, Actutal: 16048
Model : 8759.157946789317, Actutal: 13606
Model : 510.4285837534817, Actutal: 552
Model : 2924.713204961619, Actutal: 2392
Model : 2016.498897517338, Actutal: 1657
Model : 6461.772500093914, Actutal: 7037
Model : 14096.697955216125, Actutal: 18823
Model : 4615.602713842852, Actutal: 4121
Model : 7594.872739480706, Actutal: 5268
Model : 1031.8272042430608, Actutal: 1154
Model : 3053.4499423326206, Actutal: 2594
Model : 7356.546413843543, Actutal: 9525
Model : 4498.825808359496, Actutal: 4191
Model : 3506.8072024397884, Actutal: 3003
Model : 1090.7965876542385, Actutal: 857
Model : 881.1658619009281, Actutal: 816
Model : 12687.6342617156, Actutal: 15035
Model : 5281.657595555595, Actutal: 4871
Model : 1914.5716815276749, Actutal: 1410
Model : 589.9940192697218, Actutal: 633
Model : 3192.9785580073813, Actutal: 2723
Model : 5478.005422613179, Actutal: 6471
Model : 3141.1108315415718, Actutal: 3502
Model : 1872.6822226625368, Actutal: 4368
Model : 11518.275033872467, Actutal: 12829
Model : 8134.031461078009, Actutal: 5994
Model : 2326.6481921474196, Actutal: 2121
Model : 4038.2730025660503, Actutal: 4074
Model : 1155.2195984069622, Actutal: 1114
Model : 4892.291564190217, Actutal: 4904
Model : 4928.631513007572, Actutal: 4986
Model : 3624.796357848437, Actutal: 3267
Model : 5458.269320842384, Actutal: 7262
Model : 2745.136592058698, Actutal: 2939
Model : 7987.865140032191, Actutal: 8115
Model : 866.1359842804554, Actutal: 781
Model : 462.7024751682461, Actutal: 680
Model : 562.228811964419, Actutal: 666
Model : -613.4752679724452, Actutal: 506
Model : 11162.472365223772, Actutal: 12342
Model : 4646.799746934844, Actutal: 4469
Model : 7401.327415211177, Actutal: 9682
Model : 4848.662546680956, Actutal: 4939
Model : 5733.232150904534, Actutal: 5419
Model : 2273.2366131503622, Actutal: 1651
Model : 1844.9985161057202, Actutal: 1556
Model : 4047.889715387764, Actutal: 3392
Model : 2345.31878440732, Actutal: 1962
Model : 3575.8526288764933, Actutal: 4134
Model : 2339.143508552022, Actutal: 2090
Model : 4703.879726159876, Actutal: 4355
Model : -574.6699249534158, Actutal: 434
Model : -218.77879862934515, Actutal: 477
Model : 1303.4827005305783, Actutal: 1153
Model : 6591.36551994281, Actutal: 7260
Model : 4890.934085041531, Actutal: 4719
Model : 2261.720489582858, Actutal: 2071
Model : 2192.4317038777913, Actutal: 1906
Model : -173.32793452837632, Actutal: 612
Model : 3605.2472526152524, Actutal: 3334
Model : 1039.761784564916, Actutal: 1238
Model : 386.1765410934513, Actutal: 641
Model : 327.79133852025916, Actutal: 828
Model : 8968.588125145456, Actutal: 13638
Model : 2097.270195751159, Actutal: 1890
Model : 7625.791663732853, Actutal: 7150
Model : 2257.9857442322364, Actutal: 1932
Model : 3512.1989721065734, Actutal: 3759
Model : 11670.779571967983, Actutal: 12271
Model : 488.2236117744601, Actutal: 621
Model : 5367.048334892008, Actutal: 3045
Model : -351.49861820607475, Actutal: 574
Model : 3136.807716789357, Actutal: 3425
Model : 1456.9077100995141, Actutal: 1238
Model : 4816.662314172883, Actutal: 4507
Model : 1002.8254764054004, Actutal: 1246
Model : 909.758074643345, Actutal: 1033
Model : 3636.155091214115, Actutal: 3890
Model : 5124.179073484305, Actutal: 6257
Model : 9371.110256499662, Actutal: 8703
Model : 8713.29404334884, Actutal: 9900
Model : 1621.3160369035438, Actutal: 1155
Model : 1766.1641357199887, Actutal: 1665
Model : 1231.3331601856225, Actutal: 905
Model : 5418.114826881633, Actutal: 5174
Model : 4186.306066563585, Actutal: 3871
Model : -711.7765263437404, Actutal: 367
Model : 4819.74345098784, Actutal: 3271
Model : 4236.334326232925, Actutal: 3550
Model : 6385.1927588795725, Actutal: 8256
Model : 4635.93959576664, Actutal: 4844
Model : 548.3771483710261, Actutal: 666
Model : 6244.351598045454, Actutal: 8674
Model : 2129.7623274005377, Actutal: 1624
Model : 490.56582375200287, Actutal: 610
Model : 6277.636908117021, Actutal: 7213
Model : 1020.5711166842134, Actutal: 968
Model : -280.8395027830288, Actutal: 423
Model : 1593.7680359376593, Actutal: 1402
Model : 97.53337027213865, Actutal: 698
Model : 1070.6851257830708, Actutal: 1020
Model : 5502.619723465919, Actutal: 8138
Model : 847.9197542129987, Actutal: 731
Model : 4476.586506156798, Actutal: 4341
Model : 911.4549493705113, Actutal: 992
Model : 1699.367390171969, Actutal: 1656
Model : 9867.677948127526, Actutal: 12248
Model : 4664.976465888863, Actutal: 4413
Model : 2523.9434433760016, Actutal: 2426
Model : 1780.9685980461697, Actutal: 1572
Model : 11710.149286478609, Actutal: 17374
Model : 5119.018429451871, Actutal: 3510
Model : 4303.80281988348, Actutal: 5288
Model : 3767.0795958985705, Actutal: 3462
Model : 1520.9491638188338, Actutal: 1393
Model : 7183.319736395297, Actutal: 7143
Model : 6129.760813829882, Actutal: 5114
Model : 1341.3177962871519, Actutal: 1073
Model : 1050.7735351309993, Actutal: 1080
Model : 269.45472113422693, Actutal: 583
Model : 14057.735400719539, Actutal: 18119
Model : 30.818477615920983, Actutal: 526
Model : 283.91372843426507, Actutal: 571
Model : 2009.407793909366, Actutal: 1895
Model : 3243.744997452767, Actutal: 2822
Model : 291.3596785649097, Actutal: 616
Model : 18513.434961311767, Actutal: 18242
Model : 3276.4272056039526, Actutal: 2993
Model : 5518.358833230204, Actutal: 5545
Model : 3344.261091026036, Actutal: 3478
Model : 6463.109350997513, Actutal: 10104
Model : 4574.3565390243, Actutal: 3795
Model : 7637.107765070991, Actutal: 10923
Model : 4760.324352366302, Actutal: 4277
Model : -313.48139952863585, Actutal: 464
Model : 2411.965674106583, Actutal: 1949
Model : 981.3056749668631, Actutal: 803
Model : 519.2045077034959, Actutal: 710
Model : 123.69303657268074, Actutal: 720
Model : 4786.364495084794, Actutal: 4412
Model : 5043.059821688099, Actutal: 5864
Model : 1639.6027004718405, Actutal: 1160
Model : 7367.469500836352, Actutal: 6186
Model : 5430.7223702314, Actutal: 5164
Model : 2777.0373854684894, Actutal: 2515
Model : 3746.709732842805, Actutal: 3107
Model : 333.1968118376949, Actutal: 921
Model : 1784.3007778098588, Actutal: 1815
Model : 2537.1169448501605, Actutal: 2396
Model : 2038.5609026594332, Actutal: 1578
Model : 770.0852500888136, Actutal: 694
Model : 7504.944406726256, Actutal: 10801
Model : 2370.5748917977044, Actutal: 1742
Model : 245.66324504594377, Actutal: 561
Model : 761.4477515685085, Actutal: 767
Model : 6135.395884692458, Actutal: 5707
Model : 1828.8446002534222, Actutal: 1751
Model : 4022.3065859057565, Actutal: 3142
Model : 6210.892727070313, Actutal: 10134
Model : 4314.271563301821, Actutal: 4466
Model : 13381.146922868891, Actutal: 13983
Model : 1692.7421403367441, Actutal: 1619
Model : 4680.141678151995, Actutal: 4218
Model : 432.09451133642824, Actutal: 833
Model : 6084.979871446425, Actutal: 6512
Model : -392.0344810479487, Actutal: 450
Model : 5943.068983952629, Actutal: 6470
Model : 2312.635850003114, Actutal: 1841
Model : 285.3108044858077, Actutal: 625
Model : 5581.089471342833, Actutal: 5004
Model : 3990.2705365520596, Actutal: 4363
Model : 6092.996696874633, Actutal: 6573
Model : 1685.8063585199009, Actutal: 1181
Model : 1468.4066819386635, Actutal: 1207
Model : 5918.90669395537, Actutal: 9012
Model : 1067.0614206713904, Actutal: 1015
Model : 949.6211494954273, Actutal: 719
Model : 1001.9159088792585, Actutal: 839
Model : 2042.2700569980957, Actutal: 2003
Model : 11656.162624431248, Actutal: 15563
Model : 13831.69601268621, Actutal: 17010
Model : 293.71191927823884, Actutal: 791
Model : 3832.527664827501, Actutal: 3544
Model : 3846.1357355254668, Actutal: 3649
Model : 180.310855391499, Actutal: 561
Model : 8906.624507133407, Actutal: 7923
Model : 5695.229173573556, Actutal: 7501
Model : 3218.7237790761997, Actutal: 3046
Model : 2271.3843642621478, Actutal: 1851
Model : 12876.893290104705, Actutal: 15509
Model : 3970.4739455509302, Actutal: 3992
Model : 5276.686380918962, Actutal: 6043
Model : 6412.413663310887, Actutal: 9545
Model : 790.6771317381654, Actutal: 920
Model : 9532.979941123938, Actutal: 8385
Model : 4800.010043281194, Actutal: 4013
Model : 4947.320881854318, Actutal: 6360
Model : 1111.9253259020484, Actutal: 1040

In [72]:
clf = svm.SVR(kernel='linear')
clf.fit(X_train,y_train)

print(clf.score(X_test,y_test))

for X,y in zip(X_test,y_test):
    print(f'Model : {clf.predict([X])[0]}, Actutal: {y}')

0.8883429621561335
Model : 5514.402121079773, Actutal: 5927
Model : 2239.3828340892815, Actutal: 2042
Model : 8723.976889112719, Actutal: 16048
Model : 8759.157946789317, Actutal: 13606
Model : 510.4285837534817, Actutal: 552
Model : 2924.713204961619, Actutal: 2392
Model : 2016.498897517338, Actutal: 1657
Model : 6461.772500093914, Actutal: 7037
Model : 14096.697955216125, Actutal: 18823
Model : 4615.602713842852, Actutal: 4121
Model : 7594.872739480706, Actutal: 5268
Model : 1031.8272042430608, Actutal: 1154
Model : 3053.4499423326206, Actutal: 2594
Model : 7356.546413843543, Actutal: 9525
Model : 4498.825808359496, Actutal: 4191
Model : 3506.8072024397884, Actutal: 3003
Model : 1090.7965876542385, Actutal: 857
Model : 881.1658619009281, Actutal: 816
Model : 12687.6342617156, Actutal: 15035
Model : 5281.657595555595, Actutal: 4871
Model : 1914.5716815276749, Actutal: 1410
Model : 589.9940192697218, Actutal: 633
Model : 3192.9785580073813, Actutal: 2723
Model : 5478.005422613179, Actutal: 6471
Model : 3141.1108315415718, Actutal: 3502
Model : 1872.6822226625368, Actutal: 4368
Model : 11518.275033872467, Actutal: 12829
Model : 8134.031461078009, Actutal: 5994
Model : 2326.6481921474196, Actutal: 2121
Model : 4038.2730025660503, Actutal: 4074
Model : 1155.2195984069622, Actutal: 1114
Model : 4892.291564190217, Actutal: 4904
Model : 4928.631513007572, Actutal: 4986
Model : 3624.796357848437, Actutal: 3267
Model : 5458.269320842384, Actutal: 7262
Model : 2745.136592058698, Actutal: 2939
Model : 7987.865140032191, Actutal: 8115
Model : 866.1359842804554, Actutal: 781
Model : 462.7024751682461, Actutal: 680
Model : 562.228811964419, Actutal: 666
Model : -613.4752679724452, Actutal: 506
Model : 11162.472365223772, Actutal: 12342
Model : 4646.799746934844, Actutal: 4469
Model : 7401.327415211177, Actutal: 9682
Model : 4848.662546680956, Actutal: 4939
Model : 5733.232150904534, Actutal: 5419
Model : 2273.2366131503622, Actutal: 1651
Model : 1844.9985161057202, Actutal: 1556
Model : 4047.889715387764, Actutal: 3392
Model : 2345.31878440732, Actutal: 1962
Model : 3575.8526288764933, Actutal: 4134
Model : 2339.143508552022, Actutal: 2090
Model : 4703.879726159876, Actutal: 4355
Model : -574.6699249534158, Actutal: 434
Model : -218.77879862934515, Actutal: 477
Model : 1303.4827005305783, Actutal: 1153
Model : 6591.36551994281, Actutal: 7260
Model : 4890.934085041531, Actutal: 4719
Model : 2261.720489582858, Actutal: 2071
Model : 2192.4317038777913, Actutal: 1906
Model : -173.32793452837632, Actutal: 612
Model : 3605.2472526152524, Actutal: 3334
Model : 1039.761784564916, Actutal: 1238
Model : 386.1765410934513, Actutal: 641
Model : 327.79133852025916, Actutal: 828
Model : 8968.588125145456, Actutal: 13638
Model : 2097.270195751159, Actutal: 1890
Model : 7625.791663732853, Actutal: 7150
Model : 2257.9857442322364, Actutal: 1932
Model : 3512.1989721065734, Actutal: 3759
Model : 11670.779571967983, Actutal: 12271
Model : 488.2236117744601, Actutal: 621
Model : 5367.048334892008, Actutal: 3045
Model : -351.49861820607475, Actutal: 574
Model : 3136.807716789357, Actutal: 3425
Model : 1456.9077100995141, Actutal: 1238
Model : 4816.662314172883, Actutal: 4507
Model : 1002.8254764054004, Actutal: 1246
Model : 909.758074643345, Actutal: 1033
Model : 3636.155091214115, Actutal: 3890
Model : 5124.179073484305, Actutal: 6257
Model : 9371.110256499662, Actutal: 8703
Model : 8713.29404334884, Actutal: 9900
Model : 1621.3160369035438, Actutal: 1155
Model : 1766.1641357199887, Actutal: 1665
Model : 1231.3331601856225, Actutal: 905
Model : 5418.114826881633, Actutal: 5174
Model : 4186.306066563585, Actutal: 3871
Model : -711.7765263437404, Actutal: 367
Model : 4819.74345098784, Actutal: 3271
Model : 4236.334326232925, Actutal: 3550
Model : 6385.1927588795725, Actutal: 8256
Model : 4635.93959576664, Actutal: 4844
Model : 548.3771483710261, Actutal: 666
Model : 6244.351598045454, Actutal: 8674
Model : 2129.7623274005377, Actutal: 1624
Model : 490.56582375200287, Actutal: 610
Model : 6277.636908117021, Actutal: 7213
Model : 1020.5711166842134, Actutal: 968
Model : -280.8395027830288, Actutal: 423
Model : 1593.7680359376593, Actutal: 1402
Model : 97.53337027213865, Actutal: 698
Model : 1070.6851257830708, Actutal: 1020
Model : 5502.619723465919, Actutal: 8138
Model : 847.9197542129987, Actutal: 731
Model : 4476.586506156798, Actutal: 4341
Model : 911.4549493705113, Actutal: 992
Model : 1699.367390171969, Actutal: 1656
Model : 9867.677948127526, Actutal: 12248
Model : 4664.976465888863, Actutal: 4413
Model : 2523.9434433760016, Actutal: 2426
Model : 1780.9685980461697, Actutal: 1572
Model : 11710.149286478609, Actutal: 17374
Model : 5119.018429451871, Actutal: 3510
Model : 4303.80281988348, Actutal: 5288
Model : 3767.0795958985705, Actutal: 3462
Model : 1520.9491638188338, Actutal: 1393
Model : 7183.319736395297, Actutal: 7143
Model : 6129.760813829882, Actutal: 5114
Model : 1341.3177962871519, Actutal: 1073
Model : 1050.7735351309993, Actutal: 1080
Model : 269.45472113422693, Actutal: 583
Model : 14057.735400719539, Actutal: 18119
Model : 30.818477615920983, Actutal: 526
Model : 283.91372843426507, Actutal: 571
Model : 2009.407793909366, Actutal: 1895
Model : 3243.744997452767, Actutal: 2822
Model : 291.3596785649097, Actutal: 616
Model : 18513.434961311767, Actutal: 18242
Model : 3276.4272056039526, Actutal: 2993
Model : 5518.358833230204, Actutal: 5545
Model : 3344.261091026036, Actutal: 3478
Model : 6463.109350997513, Actutal: 10104
Model : 4574.3565390243, Actutal: 3795
Model : 7637.107765070991, Actutal: 10923
Model : 4760.324352366302, Actutal: 4277
Model : -313.48139952863585, Actutal: 464
Model : 2411.965674106583, Actutal: 1949
Model : 981.3056749668631, Actutal: 803
Model : 519.2045077034959, Actutal: 710
Model : 123.69303657268074, Actutal: 720
Model : 4786.364495084794, Actutal: 4412
Model : 5043.059821688099, Actutal: 5864
Model : 1639.6027004718405, Actutal: 1160
Model : 7367.469500836352, Actutal: 6186
Model : 5430.7223702314, Actutal: 5164
Model : 2777.0373854684894, Actutal: 2515
Model : 3746.709732842805, Actutal: 3107
Model : 333.1968118376949, Actutal: 921
Model : 1784.3007778098588, Actutal: 1815
Model : 2537.1169448501605, Actutal: 2396
Model : 2038.5609026594332, Actutal: 1578
Model : 770.0852500888136, Actutal: 694
Model : 7504.944406726256, Actutal: 10801
Model : 2370.5748917977044, Actutal: 1742
Model : 245.66324504594377, Actutal: 561
Model : 761.4477515685085, Actutal: 767
Model : 6135.395884692458, Actutal: 5707
Model : 1828.8446002534222, Actutal: 1751
Model : 4022.3065859057565, Actutal: 3142
Model : 6210.892727070313, Actutal: 10134
Model : 4314.271563301821, Actutal: 4466
Model : 13381.146922868891, Actutal: 13983
Model : 1692.7421403367441, Actutal: 1619
Model : 4680.141678151995, Actutal: 4218
Model : 432.09451133642824, Actutal: 833
Model : 6084.979871446425, Actutal: 6512
Model : -392.0344810479487, Actutal: 450
Model : 5943.068983952629, Actutal: 6470
Model : 2312.635850003114, Actutal: 1841
Model : 285.3108044858077, Actutal: 625
Model : 5581.089471342833, Actutal: 5004
Model : 3990.2705365520596, Actutal: 4363
Model : 6092.996696874633, Actutal: 6573
Model : 1685.8063585199009, Actutal: 1181
Model : 1468.4066819386635, Actutal: 1207
Model : 5918.90669395537, Actutal: 9012
Model : 1067.0614206713904, Actutal: 1015
Model : 949.6211494954273, Actutal: 719
Model : 1001.9159088792585, Actutal: 839
Model : 2042.2700569980957, Actutal: 2003
Model : 11656.162624431248, Actutal: 15563
Model : 13831.69601268621, Actutal: 17010
Model : 293.71191927823884, Actutal: 791
Model : 3832.527664827501, Actutal: 3544
Model : 3846.1357355254668, Actutal: 3649
Model : 180.310855391499, Actutal: 561
Model : 8906.624507133407, Actutal: 7923
Model : 5695.229173573556, Actutal: 7501
Model : 3218.7237790761997, Actutal: 3046
Model : 2271.3843642621478, Actutal: 1851
Model : 12876.893290104705, Actutal: 15509
Model : 3970.4739455509302, Actutal: 3992
Model : 5276.686380918962, Actutal: 6043
Model : 6412.413663310887, Actutal: 9545
Model : 790.6771317381654, Actutal: 920
Model : 9532.979941123938, Actutal: 8385
Model : 4800.010043281194, Actutal: 4013
Model : 4947.320881854318, Actutal: 6360
Model : 1111.9253259020484, Actutal: 1040